{% if pagination.pages > 0 %}
    <nav role="navigation" class="flex justify-center my-8">
        {% if pagination.previous %}
        <a href="{{ pagination.previous.url }}" class="bg-gray-600 hover:bg-gray-700 text-white p-3 rounded-lg">Previous</a>
        {% endif %}
        {% for part in pagination.parts %}
            {% if part.is_link %}
                <a href="{{ part.url }}" class="bg-gray-600 hover:bg-gray-700 text-white p-3 mx-2 rounded-lg">{{ part.title }}</a>
            {% else %}
                <span class="bg-gray-400 text-white p-3 rounded-lg">{{ part.title }}</span>
            {% endif %}
        {% endfor %}
        {% if pagination.next %}
        <a href="{{ pagination.next.url }}" class="bg-gray-600 hover:bg-gray-700 text-white p-3 rounded-lg">Next</a>
        {% endif %}
    </nav>
{% endif %}
