<div class="w-full py-6 px-3">
            <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
              <a href="{{ product_product.url }}">
                {% if product_product.featured_image %}
                    <div class="h-80 overflow-hidden">
                        <img
                            src="{{ product_product.featured_image | image_url: width: 300 }}"
                            class="w-full h-full object-cover transition-transform duration-300 hover:scale-105"
                            alt="{{ product_product.featured_image.alt }}"
                            width="300"
                            height="300"
                        >
                    </div>
                {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
                {% endif %}
              </a>
                <div class="flex flex-col p-4">
                    {% if section.settings.show_vendor %}
                        <span class="text-sm text-gray-400">{{ product_product.vendor }}</span>
                    {% endif %}
                    <a href="{{ product_product.url }}" class="text-gray-700 uppercase font-medium block mt-1">
                <h1 class="text-xl font-m edium">{{ product_product.title }}</h1>
              </a>
              <span>{{ product_product.price | money }}</span>
              </div>
            </div>
          </div>
