{% if cart.item_count > 0 %}
  <div class="p-4">
    <div class="max-w-6xl flex flex-col my-10 mx-auto">
      <div class="flex items-end justify-between my-5">
        <h1 class="text-3xl">Cart</h1>
        <a
          href="{{ routes.all_products_collection_url }}"
          class="text-blue600 hover:text-blue-700 font-medium underline"
          >Continue Shopping</a
        >
      </div>
    </div>
    <div class="max-w-6xl flex flex-col my-10 mx-auto">
      <form action="{{ routes.cart_url }}" method="post" novalidate>
        <table class="table-auto divide-y divide-gray-20 my-4 w-full">
          <thead>
            <tr>
              <th class="text-left px-6 py-3 text-sm font-medium text-gray-500">Product</th>
              <th class="text-left px-6 py-3 text-sm font-medium text-gray-500">Quantity</th>
              <th class="text-left px-6 py-3 text-sm font-medium text-gray-500">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class="table-row">
                <td class="px-2 py-4 flex flex-col justify-center">
                  <a href="{{ item.url }}">
                    {% if item.image %}
                      <img
                        src="{{ item.image | image_url: width: 100 }}"
                        alt="{{ item.title | escape }}"
                        width="64"
                        height="64"
                        class="w-20 h-20 object-cover border"
                      >
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: class: 'w-20 h-20 object-cover border' }}
                    {% endif %}
                  </a>
                </td>
                <td class="px-2 py-4 flex flex-col justify-center whitespace-nowrap text-sm text-gray-500">
                  <a href="{{ item.url }}" class="my-1 inline-block font-medium">
                    {{ item.product.title | truncatewords: 5 }}
                  </a>
                  <span class="text-gray-500 text-sm">
                    {{ item.variant.title }}
                  </span>
                  <a
                    href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"
                    class="text-gray-500 underline text-sm"
                    >Remove</a
                  >
                </td>
                <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500">
                  <input
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity }}"
                    min="1"
                    id="updates_{{ forloop.index }}"
                    class="w-20 border p-2 text-center"
                  >
                </td>
                <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ item.line_price | money }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="flex flex-col items-center justify-between my-10">
          <div class="w-full my-4">
            <div class="flex flex-col items-start">
              <label for="cart-note" class="text-sm font-medium text-gray-500">Cart note</label>
              <textarea
                name="note"
                id="cart-note"
                class="w-full md:max-w-full p-2 border border-gray-300 rounded-md"
              ></textarea>
            </div>
          </div>
          <div class="w-full my-4 md:w-80">
            {% for block in section.blocks %}
              {% case 'block.type' %}
                {% when 'subtotal' %}
                  <h3 class="text-xl font-medium">Subtotal: {{ cart.total_price | money }}</h3>
                {% when 'update_button' %}
                  <button
                    type="submit"
                    name="update"
                    class="w-full p-3 border border-gray-600 font-medium hover:bg-gray-700 hover:text-white"
                  >
                    Update
                  </button>
                {% when 'checkout_button' %}
                  <button
                    type="submit"
                    name="checkout"
                    class="w-full bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
                  >
                    Checkout
                  </button>
                {% else %}

              {% endcase %}
            {% endfor %}
            <div class="my-2"></div>
            <div class="my-2"></div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% else %}
  <div class="max-w-6xl h-60 flex justify-center items-center">
    <div class="text-center">
      <h1 class="text-3xl my-4">Cart is empty</h1>
      <div class="my-4">
        <a
          href="{{ routes.all_products_collection_url }}"
          class="border border-gray-600 text-gray-600 px-4 py-3 rounded-lg"
        >
          Continue Shopping
        </a>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "TemplateCart",
  "blocks": [
    {
      "type": "subtotal",
      "name": "Subtotal",
      "limit": 1
    },
    {
      "type": "update",
      "name": "Update",
      "limit": 1
    },
    {
      "type": "checkout",
      "name": "Checkout",
      "limit": 1
    }
  ]
}
{% endschema %}
