<article class="py-8" itemscope itemtype="http://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">
              {{ blog.title }}
            </a>
            <h1 class="text-4xl md:text-6xl font-medium" itemprop="headline">{{ article.title }}</h1>
          </div>
        </div>
      {% when 'article_author' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center" itemscope itemtype="http://schema.org/Person">
            {% if section.settings.enable_author %}
              <small itemprop="author">{{ article.author }}</small>
            {% endif %}
          </div>
        </div>

      {% when 'article_published_date' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            {% if section.settings.enable_published_date %}
              <time itemprop="datePublished dateCreated" datetime="{{ article.published_at | date: "%Y-%m-%d" }}">
                {{- article.published_at | date: format: 'on_date' -}}
              </time>
            {% endif %}
          </div>
        </div>
      {% when 'featured_image' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl bg-blue-100 rounded-lg mx-2 md-mx-auto overflow-hidden my-4">
            {% if article.image != blank %}
              <img
                itemprop="image"
                src="{{ article.image | img_url: 'large' }}"
                class="w-full h-80 md:h-96 object-cover object-center"
                alt="{{ article.image.alt }}"
                width="1024"
                height="1024"
              >
            {% else %}
              {% assign placeholder_image = 'lifestyle-2' %}
              {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
            {% endif %}
          </div>
        </div>
      {% when 'article_content' %}
        <div class=" flex items-center justify-center">
          <div itemprop="articleBody" class="max-w-4xl">
            {{ article.content }}
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="my-8">
    {% if article.comments_count > 0 %}
      <div class="flex-1 items-center justify-center mx-auto max-w-4xl px-4">
        <h2 class="text-2xl font-bold">See what people are saying</h2>
        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="flex-1 border my-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
              <span>{{ comment.author }}</span>
              <span class="text-sm">{{ comment.created_at | date: format: 'on_date' }}</span>
              <p>{{ comment.content }}</p>
            </div>
          {% endfor %}
          {% comment %} {% if paginate.pages > 1 %}
            <div class="text-center mt-4">
              {{ paginate | default_pagination }}
            </div>
          {% endif %} {% endcomment %}


          <div class="max-w-6xl mx-auto">
            {% render 'pagination', pagination: paginate %}
          </div>
        {% endpaginate %}
      </div>
    {% else %}
      <h2 class="text-2xl font-bold">No comments yet</h2>
      <p class="text-gray-500">Be the first to leave a comment</p>
    {% endif %}
  </div>
  <div id="comment_form" class="mb-8">
    {% if article %}
      {% form 'new_comment', article %}
        <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">
          {% if form.errors %}


            <div class="flex flex-row items-center my-3 p-5 bg-red-100">
              <div class="text-red-500">
                {% render 'icon-failed' %}
              </div>
              <div class="text-sm font-medium ml-3">
                  <p>Oh no your comment was not posted</p>

              <ul class="px-4 mb-3 ml-7 list-decimal">
                  {% for error in form.errors %}
                    <li>{{ form.errors.messages[error] }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>


          {% elsif form.posted_successfully? %}
            <div class="flex flex-row items-center my-3 p-5 bg-green-100">
              <div class="text-green-500">
                {% render 'icon-success' %}
              </div>
              <div class="text-sm font-medium ml-3">Comment posted successfully</div>
            </div>
          {% endif %}
          <div class="px-0 md:flex mb-3">
            <div class="px-3 md:w-1/2">
              <label for="comment_author" class="text-gray-500 font-medium uppercase text-xs mb-2">Name</label>
              <input
                type="text"
                id="comment_author"
                name="comment[author]"
                class="w-full text-gray-500 border py-3 px-4 focus:outline-none"
                placeholder="Jane Doe"
                required
              >
            </div>
            <div class="px-3 md:w-1/2">
              <label for="comment_email" class="text-gray-500 font-medium uppercase text-xs mb-2">Email</label>
              <input
                type="email"
                id="comment_email"
                name="comment[email]"
                class="w-full text-gray-500 border py-3 px-4 focus:outline-none"
                placeholder="jane@doe.com"
                required
              >
            </div>
          </div>
          <div class="px-1 md:flex mb-3">
            <div class="md:w-full">
              <label for="comment_content" class="text-gray-500 font-medium uppercase text-xs mb-2">Comment</label>
              <textarea
                id="comment_content"
                name="comment[body]"
                class="w-full text-gray-500 resize-none h-20 border py-2 px-3 focus:outline-none"
                required
              ></textarea>
            </div>
          </div>
          <div class="px-1 md:flex mb-3">
            <div class="md:w-full">
              <input
                type="submit"
                class="w-full bg-gray-500 text-white font-bold py-2 px-4 rounded hover:bg-gray-700"
                value="Post Comment"
              >
            </div>
          </div>
        </div>
      {% endform %}
    {% else %}
      <p>Unable to load comment form. Article not found.</p>
    {% endif %}
  </div>
{% endif %}

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": {{ article.title | json }},
        "articleBody": {{ article.content | strip_html | json }},
        {% if article.excerpt != blank %}
            "description": {{ article.excerpt | strip_html | json }},
        {% endif %}
        {% if article.image %}
            "image": [
                {{ article.image | image_url: "medium" | prepend: "https:" | json }},
            ]
            {% endif %}
            "datePublished": {{ article.published_at | date: format: 'default' | json }},
            "dateCreated": {{ article.published_at | date: format: 'default' | json }},
            "author": {
                "@type": "Person",
                "name": {{ article.author | json }}
            },
            "publisher": {
                "@type": "Organization",
                "name": {{ shop.name | json }}
            }

    }
</script>

{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Display Author Name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "label": "Display Published Date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
