<div class="flex flex-col items-center my-8">
  <h1 class="text-3xl font-bold mb-4">{{ section.settings.title }}</h1>
  <div class="max-w-6xl mxauto my-3">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
      {% for collection in collections %}
        {% if collection.all_products_count > 0 %}
          <div class="w-full py-6 px-3">
            <a href="{{ collection.url }}">
                <div class="p-4 bg-gray-100">
                    <h1 class="text-xl">{{ collection.title }}</h1>
                </div>
              {% if collection.featured_image != blank %}
                {% assign collection_image = collection.featured_image %}
              {% else %}
                {% assign collection_image = collection.products.first.image %}
              {% endif %}

              <div class="w-full h-80 object-cover bg-gray-200">
                <img src="{{ collection_image | image_url: width: 300 }}" alt="{{ collection.title }}" width="300" height="320" class="w-full h-full object-cover transition-all duration-300 hover:scale-105">
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Template List Collections",
  "settings": [{ "type": "text", "id": "title", "default": "Collections", "label": "Title" }]
}
{% endschema %}
